* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A";
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.orderStatus .new {
  color: #0077ff;
}
.orderStatus .accepted {
  color: #ff8800;
}
.orderStatus .completed {
  color: #00cc52;
}
.orderStatus .cancel {
  color: #ff4400;
}
body {
  max-width: 768px;
  margin: 0 auto 90px;
  background-color: #141414;
  min-height: 100vh;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  background: #272829;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.nav-item {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  color: #9da0a3;
}
.nav-item svg path {
  fill: #9da0a3;
}

.nav-item.active div {
  color: #007bff;
}

.nav-item.active svg path {
  fill: #007bff;
}
.offerCheckboxModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #9da0a34d;
  z-index: 10;
  padding: 50px calc(27.5vw - 91.3px) 0;
}
.offerCheckboxModal {
  background-color: #272829;
  padding: 16px calc(3.2vw + 3.6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.offerCheckboxModal img {
  margin-bottom: 33px;
}
.offerCheckboxModal p {
  font-size: 17px;
  color: #fff;
  text-align: center;
  width: 350px;
  margin-bottom: 28px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  color: #fff;
  margin-bottom: 28px;
}
.custom-checkbox a {
  color: #007bff;
  text-decoration: none;
}
.custom-checkbox input {
  display: none;
}
.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #9da0a3;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  background: transparent;
}
.checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 0px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background: #0077ff;
  border: 2px solid #0077ff;
}

.custom-checkbox input:checked + .checkmark::after {
  opacity: 1;
}
.offerCheckboxModal button {
  background-color: #36393d;
  width: 350px;
  padding: 16px 0;
  color: #fff;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.offerCheckboxModal button.active {
  background-color: #0077ff;
}

.hidden {
  display: none;
}
/* header start */
header {
  background-color: #141414;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9 !important;
  padding-bottom: 10px;
}
.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
header .arr {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h2 {
  flex-grow: 100;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}
.searchWrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin: 0 calc(3.2vw + 3.6px) 10px;
}
.searchContainer {
  flex-grow: 100;
  display: flex;
  background-color: #272829;
  padding: 12px;
  border-radius: 8px;
  gap: 0 8px;
}
.searchContainer input {
  background-color: transparent;
  border: none;
  flex-grow: 100;
  outline: none;
  font-size: 16px;
  color: #fff;
}
/* Slider start */
.splide {
  margin: 0 calc(3.2vw + 3.6px);
}
#mySlider1 {
  margin-bottom: 20px;
}
#mySlider1 .splide__slide img {
  width: 100%;
  height: calc(18vw + 17.8px);
  border-radius: 10px;
}

.splide__pagination {
  bottom: 10px;
}

.splide__pagination__page {
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.splide__pagination__page.is-active {
  opacity: 1;
  transform: scale(1);
  background: #007bff;
}
#mySlider2 {
  margin-bottom: 20px;
}
#mySlider2 .splide__slide img {
  width: 100%;
  margin-bottom: 8px;
}
#mySlider2 .splide__slide h4 {
  font-weight: 400;
  font-size: calc(2.1vw + 3.7px);
  text-align: center;
}
.goods {
  padding: 0 calc(3.2vw + 3.6px);
}
.goodsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.goodsTitle h4 {
  font-size: calc(2.6vw + 3.7px);
  font-weight: 400;
  margin-bottom: 0;
}
.goodsCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 12px;
}
.goodsCards .card {
  background-color: #272829;
  border-radius: 8px;
  padding: calc(2.1vw - 0.25px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.goodsCards .card img {
  width: calc(10.6vw + 238.7px);
  height: calc(23.8vw + 77px);
  max-width: 320px;
  max-height: 26 0px;
  border-radius: 8px;
}
.goodsCards .card .badge {
  position: absolute;
  left: calc(2.1vw - 0.25px);
  padding: 6px 8px;
  color: white;
  top: calc(5.3vw - 0.63px);
  font-size: 12px;
  text-transform: uppercase;
}
.goodsCards .card .badge.top {
  background-color: #007bff;
}
.goodsCards .card .badge.new {
  background-color: #00cc52;
}
.goodsCards .card .badge.sale {
  background-color: #ff4400;
}
.goodsCards .card img {
  width: 100%;
  margin-bottom: calc(2.1vw - 0.25px);
}
.goodsCards .card h4 {
  font-size: calc(3.7vw - 0.44px);
  font-weight: 400;
  margin-bottom: calc(2.1vw - 0.25px);
}
.goodsCards .card .price {
  color: #0077ff;
  margin-bottom: calc(2.1vw - 0.25px);
  font-size: calc(4.5vw + 0.46px);
}
.cardBtns {
  display: flex;
  justify-content: space-between;
  gap: 0 8px;
}
.cardBtns button {
  width: 50%;
  background-color: #36393d;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
.cardBtns button:first-child {
  background-color: #0077ff;
  color: #fff;
}
.catalogMenu {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  gap: 10px 0;
  flex-direction: column;
  margin: 0 calc(3.2vw + 3.6px);
}
.menu-item {
  background: #272829;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.menu-item .title {
  display: flex;
  justify-content: space-between;
}
.menu-item .title img {
  transition: all 0.3s;
}
.menu-item .title img.active {
  transform: rotate(90deg);
}
.submenu {
  background: #272829;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.submenu.active {
  max-height: 300px;
}
.submenu a {
  display: block;
  padding: 8px 15px;
  color: #9da0a3;
  text-decoration: none;
}
/* ProductCard Start */

.productCard {
  margin: 0 calc(4.2vw - 0.5px);
}
.productCard #productSlider {
  background-color: #272829;
  margin: 0 0 10px;
  padding: calc(2.1vw - 0.25px);
  border-radius: calc(1.1vw + 3.8px);
  height: calc(32.8vw + 148px);
}
.productCard #productSlider .splide__list,
.productCard #productSlider .splide__track,
.productCard #productSlider .splide__track img {
  height: 100%;
}
.productCard #productSlider .splide__track img {
  border-radius: calc(1.1vw + 3.8px);
  width: 100%;
}
.productCard #productSlider .splide__pagination {
  bottom: calc(2.1vw + 7.7px);
}
.productDescription {
  background-color: #272829;
  border-radius: calc(1.1vw + 3.8px);
  padding: calc(2.1vw - 0.25px);
  margin-bottom: calc(2.1vw - 0.25px);
}
.productDescription h3 {
  font-size: calc(4.2vw - 0.5px);
  margin-bottom: 12px;
}
.productDescription span {
  display: block;
  font-size: calc(3.7vw - 0.44px);
  color: #9da0a3;
  margin-bottom: 18px;
}
.productDescription .blue {
  font-family: "Gilroy";
  font-size: calc(4.2vw - 0.5px);
  font-weight: 600;
}
.productDescription .blue small {
  text-decoration: line-through;
  font-size: calc(2.6vw - 0.32px);
  color: #9da0a3;
}
.productInfo {
  background-color: #272829;
  border-radius: calc(1.1vw + 3.8px);
  padding: calc(2.1vw - 0.25px);
  margin-bottom: calc(3.2vw - 0.4px);
}
.infoBtns {
  margin-bottom: 12px;
}
.infoBtns button {
  background-color: transparent;
  border: none;
  padding: 16px;
  width: 49%;
  cursor: pointer;
  border-bottom: 3px solid #76787a;
  color: #76787a;
  font-size: calc(3.7vw - 0.44px);
}
.infoBtns button.active {
  color: #0077ff;
  border-bottom: 3px solid #0077ff;
}
.infoWrapper p {
  font-size: calc(3.7vw - 0.44px);
  line-height: 128%;
  margin-bottom: 12px;
}
.showAll {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.showAll span {
  color: #0077ff;
  font-size: calc(3.2vw + 0.44px);
  font-weight: 600;
  line-height: 123%;
}
.showAll img {
  margin-left: 12px;
  transition: transform 0.3s ease-in-out;
  width: calc(2.1vw + 7.8px);
  height: calc(2.1vw + 7.8px);
  max-height: 24px;
  max-width: 24px;
}

.showAll.active img {
  transform: rotate(180deg);
}

.showAll img {
  transition: transform 0.5s ease;
}

.showAll.expanded img {
  transform: rotate(180deg);
}
.characterText {
  display: none;
}
.characterText ul {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  margin-bottom: 12px;
}
.characterText ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.characterText ul li span {
  font-size: calc(3.7vw - 0.44px);
}
.productPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ffffff40;
  z-index: 100;
}

.productPopUp div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
  background-color: #272829;
  width: 100%;
  max-width: 350px;
  margin: 0 16px;
  padding: 32px 16px 16px;
  border-radius: 12px;
}
.productPopUp div h4 {
  font-size: 16px;
  font-weight: 600;
}
.productPopUp div button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 16px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.main .noOreder {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.main .noOreder h3 {
  font-size: 17px;
  font-weight: 400;
}
.main .noOreder h4 {
  font-size: 14px;

  font-weight: 400;
}
.order .orderStatusButtons {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin-bottom: calc(2.6vw - 0.32px);
}
.order .orderStatusButtons button {
  background-color: #272829;
  color: #fff;
  flex-grow: 1;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-size: 14px;
}
.order .orderStatusButtons button.active {
  background-color: #0077ff;
}
.order .orderCards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 calc(3.2vw + 3.6px);
}
.order .orderCards .card {
  display: flex;
  justify-content: space-between;
  padding: calc(2.6vw - 0.32px);
  gap: calc(3.2vw - 4.3px);
  background-color: #272829;
  border: none;
  border-radius: 8px;
}
.order .orderCards .card .orderDescription {
  flex-grow: 10;
}
.orderImg {
  width: calc(19.8vw - 2.4px);
  max-width: 150px;
}
.order .orderCards .card .orderDescription h3,
.order .orderCards .card .orderDescription h3 span {
  font-weight: 400;
  font-size: calc(3.2vw - 0.38px);
}
.orderDate {
  margin-bottom: calc(2.1vw - 0.25px);
}
.orderDate span {
  color: #9da0a3;
  margin-left: 8px;
}
.orderStatus {
  margin-bottom: calc(2.1vw - 0.25px);
}
.deliveryMethod {
  color: #9da0a3;
  margin-bottom: calc(2.1vw - 0.25px);
}
.order .orderCards .card .orderDescription .orderPrice {
  font-weight: 600;
}
.mainOrderDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}
.mainOrderDetail .status {
  width: 75px;
  margin-bottom: 20px;
}
.mainOrderDetail p {
  text-align: center;
  margin-bottom: 32px;
}
.mainOrderDetail p .blue {
  color: #007bff;
}
.mainOrderDetail ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 42px;
}
.mainOrderDetail ul li {
  background-color: #272829;
  padding: 16px calc(3.2vw - 0.4px);
  list-style: none;
  border-radius: 8px;
}
.mainOrderDetail ul li .desc {
  font-weight: 600;
  margin-bottom: 12px;
}
.mainOrderDetail ul li .info {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.mainOrderDetail ul li .info p {
  text-align: left;
  margin-bottom: 0;
  line-height: 18px;
}

.orderGoods .product {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.orderGoods .product {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dashed #9da0a3;
}
.orderGoods .product:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.orderGoods .product .productDesc {
  display: flex;
  column-gap: 10px;
}
.orderGoods .product .productDesc h4 {
  font-weight: 400;
}
.orderGoods .product .productDetail {
  min-width: 86px;
  text-align: right;
}
.orderGoods .product .productDetail .price {
  color: #0077ff;
}

.orderTotal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.orderTotal div {
  display: flex;
  justify-content: space-between;
}
.orderDesc {
  font-weight: 400;
}
.orderTotal div .orderDesc.bold {
  font-weight: 600;
}
.blue {
  color: #0077ff;
  font-weight: 600;
}
.mainOrderDetail .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mainOrderDetail .btns a {
  width: 49%;
  background-color: #36393d;
  text-align: center;
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
}
.mainOrderDetail .btns a:first-child {
  background-color: #0077ff;
}
.mainOrderDetail .btns button {
  width: 100%;
  margin: 0 auto;
  max-width: 560px;
  background-color: #0077ff;
  padding: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.basketMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 90px;
  padding: 0 calc(3.2vw - 0.4px);
}
.basketCardWrapper {
  background-color: #272829;
  padding: calc(2.6vw - 3.2px);
  border-radius: 8px;
}
.basketCardWrapper .basketCard {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: calc(3.2vw - 0.38px);
  padding-top: calc(3.2vw - 0.38px);
  border-top: 1px dashed #9da0a3;
}
.basketCardWrapper .basketCard:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.basketEmptyWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.basketEmptyWrapper h5,
.basketEmptyWrapper p {
  text-align: center;
}
.basketEmptyWrapper h5 {
  font-size: 17;
}
#basketProductImg {
  width: calc(19.8vw - 2.4px);
  height: calc(19.8vw - 2.4px);
  max-width: 150px;
  max-height: 150px;
  border-radius: 8px;
}
.basketCard .basketDesc {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basketCard .basketDesc h4 {
  font-size: calc(3.7vw - 0.44px);
  font-weight: 400;
}
.basketDescPrice {
  display: flex;
  align-items: center;
  gap: 12px;
}
.basketDescPrice .price {
  font-size: calc(3.7vw - 0.44px);
}
.countBtns {
  display: flex;
  align-items: center;
  gap: 6px;
}
.countBtns .count {
  font-size: calc(3.7vw - 0.44px);
}
.countBtns button {
  width: calc(2.6vw + 9.68px);
  max-width: 30px;
  height: calc(2.6vw + 9.68px);
  max-height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-image: url(../img/svg/Plus.svg);
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.countBtns button:first-child {
  background-image: url(../img/svg/Minus.svg);
}
#basketProductDelete {
  display: flex;
  align-items: flex-end;
}
#basketProductDelete img {
  cursor: pointer;
}
.placingAnOrderWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.placingAnOrderInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #272829;
  padding: calc(2.6vw - 3.2px);
  border-radius: 8px;
}
.placingAnOrderInfo li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.placingAnOrderInfo li:first-child span {
  font-weight: 600;
}
.placingAnOrderWrapper a,
.placingAnOrderWrapper button {
  background-color: #0077ff;
  font-weight: 600;
  border: none;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}
.placingMain {
  padding: 0 calc(3.2vw - 0.4px);
}
.placingMain form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.placingMain form div:not(.basketCard):not(.basketDesc *) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.placingMain form div input {
  background-color: transparent;
  border: 1px solid #4f5052;
  display: block;
  width: 100%;
  padding: 16px 12px;
  font-size: 17px;
  border-radius: 8px;
}
.placingMain form div input:focus {
  outline: 2px solid #0077ff;
}
.bg-greey {
  background-color: #272829;
  padding: calc(3.2vw - 0.38px);
  border-radius: 8px;
}
.placingMain .location button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #0077ff;
}
.placingMain .delivery label,
.placingMain .payment label {
  display: flex;
  gap: 12px;
  align-items: center;
}
.placingMain div label input {
  width: auto;
}
.placingMain div label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.placingMain div label input[type="radio"] {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.placingMain div label .custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #4f5052;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
}

.placingMain div label .custom-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0077ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.placingMain div label input[type="radio"]:checked + .custom-radio {
  border-color: #0077ff;
}

.placingMain div label input[type="radio"]:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
.deliverAddressWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(157, 160, 163, 0.3);
  z-index: 10;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
}
.deliverAddressWrapper.active {
  opacity: 1;
  visibility: visible;
}
.deliverAddressWrapper #deliverAddressForm {
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
}

.deliverAddressWrapper.active #deliverAddressForm {
  padding: 8px calc(3.2vw - 0.38px) 32px;
  background-color: #141414;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px 12px 0 0;
  transform: translateY(0);
}
#deliverAddressForm .blueline {
  width: calc(12.7vw - 1.5px);
  height: 5px;
  background-color: #0077ff;
  margin: 0 auto 36px;
  border-radius: 4px;
}
#deliverAddressForm h4 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 24px;
}

#deliverAddressForm .selectWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#deliverAddressForm .selectWrapper select {
  background-color: #272829;
  width: 100%;
  padding: 16px 12px;
  appearance: none;
  color: #9da0a3;
  border: 1px solid #4f5052;
  border-radius: 8px;
  outline: none;
}

/* Стили для option */
#deliverAddressForm .selectWrapper select option {
  color: #9da0a3;
  font-size: 17px;
}

/* Стили для textarea */
.selectWrapper textarea {
  background-color: #272829;
  border-radius: 8px;
  outline: none;
  padding: 16px 12px;
  font-size: 17px;
}

/* Стили для кнопки */
.selectWrapper button {
  background-color: #0077ff;
  border: none;
  padding: 16px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selectWrapper button:hover {
  background-color: #0077ff;
}
.selectWrapper button:disabled {
  background-color: #8db1e2;
}

.selectWrapper .custom-checkbox {
  margin-bottom: 10px;
}
#deliveryAdressWrapper {
  margin-bottom: 10px;
}

.deliveryPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff40;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.deliveryPopUp.active {
  opacity: 1;
  visibility: visible;
}
.deliveryPopUp div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
  background-color: #272829;
  width: 100%;
  max-width: 350px;
  margin: 0 16px;
  padding: 32px 16px 16px;
  border-radius: 12px;
}
.deliveryPopUp div h4 {
  font-size: 16px;
  font-weight: 600;
}
.deliveryPopUp div button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 16px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .productCard #productSlider {
    height: 400px;
  }
  .productDescription h3,
  .productDescription .blue {
    font-size: 36px;
  }
  .productDescription .blue small {
    font-size: 20px;
  }
  .infoBtns button,
  .productDescription span,
  .infoWrapper p,
  .characterText ul li span,
  .showAll span,
  .basketCard .basketDesc h4,
  .basketDescPrice .price,
  .basketDescPrice .countBtns .count {
    font-size: 28px;
  }
  .infoBtns button {
    max-width: 350px;
  }
}

@media (max-width: 420px) {
  .cardBtns button {
    font-size: 14px;
  }
}
